/*
  Antonio Patterson
  styles.css
  12/3/23
*/

/* CSS Reset */

body, header, nav, main, footer, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rules for Body and Img */
body {
  background-color: #fbd3d7;
}
img {
  max-width: 100%;
  display: block;
}

/* Style Rule for Header */

/* Put my hero Image as my header. Updated to display Berenice love for nature */
.hero {
  position: relative;
  /* Relative link didn't work used the absolute link */
  background: url(https://i.pinimg.com/originals/b0/ee/f5/b0eef51bc422b8ad5acfb4220ac85be2.jpg) no-repeat center;
  background-size: cover;
  height: 370px;
  overflow: hidden;
  margin-top: -20px;
}

/* Welcome to Berenice's World for Header Intro */
.intro {
  position: absolute;
  width: auto;
  top: 40%;
  left: 40%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.b-world a {
  text-decoration: none;
  color: #fff;
}


/* Style Rule for Nav */


/* This puts the navbar inside the image */
.container {
  position: absolute;
  width: auto;
  left: 80%;
  top: 10%;

}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #33333300;

}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 12px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #33333300;
  color: #fbd3d7;
  border: 2px solid #fbd3d7;
  border-radius: 12px;
}



/* Style Rule for Main */

main {
  clear: right;
  text-align: left;
}

.hello {

}

/* Style Rule for footer */

footer {
  text-align: center;

}